

.content {
  flex: 1;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.activity-feed {
  margin-top: 3rem;
  width: 100%;
  max-width: 600px; /* Adjust the width of the rectangle box */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 1rem;
  overflow: hidden;
}

.activity-feed h1 {
  margin-bottom: 1rem;
}

.activity-feed ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.activity-feed li {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.activity-feed strong {
  font-weight: 600;
  margin-right: 1rem;
}

.activity-feed .date {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.7);
}

a {
  font-size: large;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
}


.footer-text {
  margin: 0;
}

#github_logo {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
  margin: 8px;
}

#linkedin_logo {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
  margin: 8px;
}

